# Track these specific files
!/app.py
!/langgraph_workflow.py
!/utils/
!/utils/prompts.py
!/requirements.txt
!/.env.sample
!/Dockerfile
!/.dockerignore

# Ignore everything else by default
*

# But do not ignore .gitignore and README.md
!.gitignore
!README.md
